<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header"></div>
        <nav>
            <div class="navbar"></div>
        </nav>
    </header>

    <main>
        <section id="check-avaliability"></section>
        <section id="greet"></section>
        <section id="rooms"></section>
        <section id="events-appointment">
            <div class="events"></div>
            <div class="appointment"></div>
        </section>
        <section id="map"></section>
    </main>

    <footer>
        <section id="info">
            <div class="template"></div>
            <div class="discover"></div>
            <div class="features"></div>
            <div class="pages"></div>
            <div class="support"></div>
        </section>
        <section id="footer"></section>
    </footer>
</body>
</html>